<% layout('./layouts/boilerplate') %>
<section class="container mb-5">
  <a class="font-bold page-nav-link" href="/invoices"> All Invoices</a>
  <section class="mt-4 invoice-header">
    <!-- invoice status -->
    <article>
      <h3>Status</h3>
      <% if(invoice.paid){ %>
      <div id="paid-status-token" class="paid-status-token paid">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="svg-inline--fa fa-circle fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
          ></path>
        </svg>
        <p>Paid</p>
      </div>
      <% } else{ %>
      <div id="paid-status-token" class="paid-status-token pending">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle"
          class="svg-inline--fa fa-circle fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"
          ></path>
        </svg>
        <p>Pending</p>
      </div>
      <% } %>
    </article>
    <div class="invoice-buttons">
      <a href="/invoices/<%=invoice._id%>/edit">
        <button class="button button-secondary">Edit</button>
      </a>
      <form action="/invoices/<%=invoice._id%>?_method=delete" method="POST">
        <button class="button button-danger">Delete</button>
      </form>
        <% if(invoice.paid){ %>
        <button class="button button-primary mark-paid-status-button">Mark Pending</button>
        <% } else { %>
        <button class="button button-primary mark-paid-status-button">Mark Paid</button>
        <% } %>
    </div>
  </section>
  <section class="mt-5 invoice-body">
    <div class="mb-4 row border-bottom">
      <!-- invoice id and invoice description -->
      <div class="mb-3 col-md-6">
        <h3 class="mb-2">#57E7H5</h3>
        <h4 class="font-bold"><%= invoice.description %></h4>
      </div>
      <!-- invoice from address -->
      <div id="invoice-from-address" class="col-md-6 mb-3">
        <p><%= invoice.fromStreet %></p>
        <p><%= invoice.fromCity %></p>
        <p><%= invoice.fromPostCode %></p>
        <p><%= invoice.fromCountry %></p>
      </div>
    </div>
    <div class="row">
      <!-- invoice date and payment date -->
      <div class="col-6 col-md-4">
        <h5>Invoice Date</h5>
        <p><%= String(invoice.invoiceDate).slice(0, 15) %></p>
      </div>
      <!-- invoice to address -->
      <div class="col-6 col-md-4">
        <h5>Invoice To</h5>
        <p><%= invoice.clientName %></p>
        <p><%= invoice.clientAddress %></p>
        <p><%= invoice.clientCity %></p>
        <p><%= invoice.clientPostCode %></p>
        <p><%= invoice.clientCountry %></p>
      </div>
      <!-- recipient email -->
      <div class="col-12 col-md-4">
        <h5>Sent to</h5>
        <p><%= invoice.clientEmail %></p>
      </div>
    </div>
    <!-- invoice item section -->
    <section class="mt-4">
      <table class="mb-0 invoice-items-table">
        <thead class="border-bottom">
          <tr>
            <td class="p-3">Name</td>
            <td class="p-3">Qty</td>
            <td class="p-3">Price</td>
          </tr>
        </thead>
        <tbody>
          <% for (let item of invoice.items) { %>
          <tr>
            <td class="p-3"><%= item.name %></td>
            <td class="p-3"><%= item.qty %></td>
            <td class="p-3">£<%= item.price %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div
        class="p-3 invoice-footer d-flex justify-content-between align-items-center"
      >
        <h4>Invoice Total</h4>
        <h2>£<%= invoice.invoiceTotal %></h2>
      </div>
    </section>
  </section>
</section>
